<!-- Basic -->
<h5>Basic</h5>
<button mat-button>Basic</button>
<button mat-button disabled>Disabled</button>
<a mat-button href="https://www.google.com/" target="_blank">Link</a>
<br />
<br />
<hr />

<!-- Button flat-->
<h5>Button flat</h5>
<button mat-flat-button><mat-icon>thumb_up</mat-icon>Basic</button>
<button mat-flat-button disabled>Disabled</button>
<a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
<br />
<br />
<hr />

<!-- Raised -->
<h5>Raised</h5>
<button mat-raised-button><mat-icon>favorite</mat-icon>Basic</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
<br />
<br />
<hr />

<!-- Stroked -->
<h5>Stroked</h5>
<button mat-stroked-button>Basic</button>
<button mat-stroked-button disabled>Disabled</button>
<a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
<br />
<br />
<hr />

<!-- Button icon -->
<h5>Button icon</h5>
<button class="btn-icon" mat-icon-button>
  <mat-icon>chat</mat-icon>
</button>
<button class="btn-icon" mat-icon-button disabled>
  <mat-icon>open_in_new</mat-icon>
</button>
